li.picker-switch a.md-default-theme:not(.md-button), li.picker-switch a:not(.md-button) {
    color: #337ab7 !important;
}

div.timepicker-picker a.md-default-theme:not(.md-button), div.timepicker-picker a:not(.md-button) {
    color: #337ab7 !important;
}

.submitted {
    border: 1px solid red !important;
    border-radius: 8px !important;
}
.bootstrap-datetimepicker-widget {
z-index: 9999 !important;}

 .input-group{
  padding: 0 !important;
  border: 0 !important;
 }

/*
*, *::before, *::after {
  box-sizing: inherit;
}
*/
.toggler {
  width: auto;
    max-width: 72px;
  margin: 0 0 0 0;
}
.toggler input {
  display: none;  margin: 0 0 0 0;
}
.toggler label {
  display: block;
  position: relative;
  width: 72px;
  max-width: 72px;
  height: 36px;
  border: 1px solid #d6d6d6;
  border-radius: 36px;
  background: #e4e8e8;
  cursor: pointer;  margin: 0 0 0 0;
}
.toggler label::after {
  display: block;
  border-radius: 100%;
  background-color: #d7062a;
  content: '';
  -webkit-animation-name: toggler-size;
          animation-name: toggler-size;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 26px;
  height: 26px;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-transition: left .15s ease-in-out, background-color .2s ease-out, width .15s ease-in-out, height .15s ease-in-out, opacity .15s ease-in-out;
  transition: left .15s ease-in-out, background-color .2s ease-out, width .15s ease-in-out, height .15s ease-in-out, opacity .15s ease-in-out;
    margin: 0 0 0 0;
}
.toggler input:checked + label::after,
.toggler input:checked + label .toggler-on,
.toggler input:checked + label .toggler-off {
  left: 75%;
}
.toggler input:checked + label::after {
  background-color: #50ac5d;
  -webkit-animation-name: toggler-size2;
          animation-name: toggler-size2;
}
.toggler .toggler-on,
.toggler .toggler-off {
  opacity: 1;
  z-index: 2;
}
.toggler input:checked + label .toggler-off,
.toggler input:not(:checked) + label .toggler-on {
  width: 0;
  height: 0;
  opacity: 0;  margin: 0 0 0 0;
}
.toggler .path {
  fill: none;
  stroke: #fefefe;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-miterlimit: 10;  margin: 0 0 0 0;
}

@-webkit-keyframes toggler-size {
  0%,
  100% {
    width: 26px;
    height: 26px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}

@keyframes toggler-size {
  0%,
  100% {
    width: 26px;
    height: 26px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}
@-webkit-keyframes toggler-size2 {
  0%,
  100% {
    width: 26px;
    height: 26px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}
@keyframes toggler-size2 {
  0%,
  100% {
    width: 26px;
    height: 26px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}


/* toggle 2 */


.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 20px;

  left: 5px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #E31B23;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider::after {
  position:relative;
  right:-55px;
}

.checkbox {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  position: relative;
}

.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
}
</style>

/**\