/* ICONS */
#OWEBAPP.Df_High_Contrast .RWRunReportButton .WebItm_Icon:before{
  content: "y";
  font-size: 22px;
  padding: 0px 0px 0px 1px;
}

#OWEBAPP.Df_High_Contrast .RWPrintReportButton .WebItm_Icon:before{
  content: "z";
  font-size: 22px;
  padding: 4px;
}

/* SORT & ORDER */
#OWEBAPP.Df_High_Contrast .RWMoveSortOrderUp {
  margin-top: 40px;
}

#OWEBAPP.Df_High_Contrast .RWMoveSortOrderDown {
  margin-top: 10px;
}

#OWEBAPP.Df_High_Contrast .RWMoveSortOrderUp button:hover,
#OWEBAPP.Df_High_Contrast .RWMoveSortOrderUp button:focus,
#OWEBAPP.Df_High_Contrast .RWMoveSortOrderDown button:hover,
#OWEBAPP.Df_High_Contrast .RWMoveSortOrderDown button:focus{
  background-color: #D0A21A;
  border-color: #D0A21A;
}

#OWEBAPP.Df_High_Contrast .RWMoveSortOrderDown button:before,
#OWEBAPP.Df_High_Contrast .RWMoveSortOrderUp button:before {
  font-size: 16px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 0 #FFFFFF inset;
  padding: 0;
  text-shadow: 0 0;
  padding-top: 1px;
}

#OWEBAPP.Df_High_Contrast .RWMoveSortOrderUp button:before {
  content: "d";
}

#OWEBAPP.Df_High_Contrast .RWMoveSortOrderDown button:before {
  content: "c";
}

/* STYLES FONT LOADING */
#OWEBAPP.Df_High_Contrast .RWRunReportButton .WebItm_Icon:before,
#OWEBAPP.Df_High_Contrast .RWPrintReportButton .WebItm_Icon:before,
#OWEBAPP.Df_High_Contrast .RWMoveSortOrderUp button:before,
#OWEBAPP.Df_High_Contrast .RWMoveSortOrderDown button:before{
  font-family: "dataflex-reports" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:inline-block;
}