<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12 text-center">
            <label>Status:
                <font color="red" ng-if="info.form.statusProp.id !== '1' && info.form.statusProp.id !== '8'">
                    {{info.form.statusProp.value}}
                </font>
                <font color="green" ng-if="info.form.statusProp.id == '1' || info.form.statusProp.id == '8'">
                    {{info.form.statusProp.value}}
                </font>
            </label></div>
        <div class="clearfix"></div>
        <br>
        <div class="col-md-3"><label>Cliente:</label> {{info.form.cliente}}</div>
        <div class="clearfix"></div>
        <div class="col-md-12" ng-if="info.form.clienteFinal.Fantasia !== ''"><label>Cliente Final:</label> {{info.form.clienteFinal.Fantasia}}</div>
        <div class="clearfix"></div>
        <br>
        <div class="col-md-3"><label>Proposta:</label> {{Url.idProposta}}</div>
        <div class="col-md-3"><label>Validade:</label> {{info.form.validadeDe}} - {{info.form.validadeAte}}</div>
        <div class="col-md-3"><label>Concorrentes:</label> {{taxa.concorrentes}}</div>
        <div class="clearfix"></div>
        <div class="col-md-3"><label>POL:</label> {{info.form.pol.value}}</div>
        <div class="col-md-3"><label>POD:</label> {{info.form.pod.value}}</div>
        <div class="col-md-3"><label>VIA:</label> {{info.form.value}}</div>
        <div class="clearfix"></div>
        <br>
        <div class="col-md-3"><label>Embarque:</label> <span ng-repeat="value in combo.embarque | filter: {'ID': info.form.embarque}">{{value.DS}}</span></div>
        <div class="col-md-3"><label>Incoterm:</label> {{info.form.incoterm}}</div>
        <div class="col-md-3"><label>Tipo Operação:</label> <span ng-repeat="value in combo.tpOperacao | filter: {'ID': info.form.tpOperacao}">{{value.DS}}</span></div>
        <div class="col-md-3"><label>Modalidade do Frete:</label> FCL</div>
        <div class="clearfix"></div>
        <div class="col-md-3"><label>Agente:</label> {{info.form.agenteDest}}</div>
        <div class="col-md-3"><label>Transit Time:</label> {{info.form.transitTime}} dias</div>
        <div class="col-md-3"><label>Free Time:</label> {{info.form.freetime}} dias</div>
        <div class="col-md-3"><label>Armador:</label> {{info.form.armador.value}}</div>
        <div class="clearfix"></div>
        <br>
        <div class="col-md-3"><label>Detalhes:</label></div>
        <div class="clearfix"></div>
        <div ng-repeat="row in info.equipamentos.table" ng-if="info.equipamentos.table.length">
            <div class="col-md-12"><label>Qtd.:</label> {{row.qtd}} - <label>Equipamento:</label> {{row.equipamento.DS}} | <label>Gross Weight:</label> {{row.total.weight}} {{row.total.grossUnit}} </div>
            <div class="col-md-12 tab1">
                <label>>
                    <span ng-if="row.detalhes.imo">
                        <font color="red"><i class="glyphicon glyphicon-warning-sign"></i> IMO</font>
                    </span>
                    <span ng-if="row.detalhes.bagagem">| <font color="red">Bagagem</font></span>
                    <span ng-if="row.detalhes.consumoHumano">| <font color="red">Consumo Humano</font></span>
                    <span ng-if="row.detalhes.shipperctnr">| <font color="red">Shipper Own Container</font></span>
                    <span ng-if="row.detalhes.conumoAnimal">| <font color="red">Consumo Animal</font></span>
                    <span ng-if="row.detalhes.outros">| <font color="red">Outros: </font> {{row.detalhes.outrosTxt}}</span>
                </label>
            </div>
            <div ng-repeat="srow in row.detalhes.mercadorias" ng-if="row.detalhes">
                <div class="col-md-12 tab2"><label>> Mercadoria:</label> {{srow.mercadoria.DS}} | <label> Descrição:</label> {{srow.descricao}} | <label> NCM:</label> {{srow.ncm}} | <label> UN:</label> {{srow.un}} | <label>Class:</label> {{srow.classe.value}} | <label>Subrisk:</label> {{srow.subrisk.value}}</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2"><label>Total PCS:</label> {{info.form.totalPCS}}</div>
        <div class="clearfix"></div>
        <div class="col-md-2"><label>Total Weight:</label> {{info.form.totalWeight}} KG</div>
        <div class="clearfix"></div>
        <div class="col-md-12 text-right">
            <button class="btn btn-warning" ng-if="common.permissao" ng-click="modal.editarTaxa.open()">Editar <i class="fas fa-edit"></i></button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="col-md-12 form-group text-right">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Ação
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1" style="cursor: pointer">
            <li><a ng-click="modal.status.open(info.form.statusProp)" ng-if="common.permissao && common.NetshipValidation"><i class="fas fa-cogs"></i> Status</a></li>
            <li><a ng-click="common.btnVisualizar()" ng-disabled="!Url.idProposta || !NetshipValidation"><i class="far fa-paper-plane"></i> Visualizar</a></li>
            <li><a ng-click="modal.netnet.open(taxa.table)" ng-if="common.permissao"><i class="fas fa-balance-scale"></i> Aplicar Net/Net</a></li>
            <li><a ng-click="modal.gerarAcordo.open(taxa.table, info.form.cliente, info.form.validadeDe, info.form.validadeAte)" ng-if="common.permissao"><i class="fas fa-handshake"></i> Gerar Acordo</a></li>
            <li><a ng-click="modal.negociacao.open(taxa.table)"  ng-if="common.permissao"><i class="far fa-handshake"></i> Negociação</a></li>
            <li><a ng-click="modal.abrirNegociacao.open(taxa.table)" ng-if="!common.permissao"><i class="far fa-handshake"></i> Abrir Negociacao</a></li>
            <li><a ng-click="modal.taxasArmador.open(taxa.table)" ng-if="common.permissao"><i class="fas fa-calculator"></i> Aplicar Taxas Armador</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="modal.arquivos.open()"><i class="fas fa-cloud-upload-alt"></i> Arquivos <span class=badge>0</span></a></li>
        </ul>
    </div>
    <!--  <button class="btn btn-primary" ng-click="taxa.aplicarNetNet()"><i class="fas fa-balance-scale"></i> Aplicar Net/Net</button>
    <button class="btn btn-default" ng-click="modal.gerarAcordo.open(taxa.table)"><i class="fas fa-handshake"></i> Gerar Acordo</button>
    <button class="btn btn-success" ng-click=modal.status.open(info.form.status)><i class="fas fa-cogs"></i> STATUS</button>
    <button class="btn btn-info" ng-click=modal.arquivos.open()><i class="fas fa-cloud-upload-alt"></i> Arquivos <span class=badge>0</span></button>
    <button class="btn btn-default"><i class="fas fa-sync-alt"></i> Atualizar</button>
    <button class="btn btn-warning" ng-click=modal.negociacao.open()><i class="far fa-handshake"></i> Negociação</button>
    <button class="btn btn-default" ng-click=common.btnVisualizar()><i class="far fa-paper-plane"></i> Visualizar</button>-->
</div>
<div class="clearfix"></div>
<!-- -->
<uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default" is-open="comments_status">
        <uib-accordion-heading>Referências e Comentários<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': comments_status, 'glyphicon-chevron-right': !comments_status}"></i></uib-accordion-heading>
        <div class="col-md-4 col-md-offset-1 form-group">
            <label>Custom Reference</label>
            <input type="text" class="form-control" ng-model="chat.form.customReference" placeholder="Referência do Cliente">
        </div>
        <div class="col-md-4 col-md-offset-2 form-group">
            <label>Internal Reference</label>
            <input type="text" class="form-control" ng-model="chat.form.internalReference" placeholder="Referência Interna">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 col-md-offset-1">
            <label>Customer Instructions</label>(Irá para o Cliente.)
            <input type="text" class="form-control" ng-model="chat.form.customerInstruction">
        </div>
        <div class="col-md-4 col-md-offset-2 form-group">
            <label>Private Comments</label>(Não aparecerá para o Cliente.)
            <textarea type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Private Comments" ng-model="chat.form.privateComments"></textarea>
            <div class="clearfix"></div>
            <div class="form-group">
                <select class="form-control" ng-model="chat.form.stats" ng-init="chat.form.stats = ''">
                    <option value="">Informativo</option>
                    <option value="4">Pricing</option>
                    <option value="11">Operacional</option>
                </select>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Elaborador</th>
                            <th>Mensagem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in chat.messages">
                            <td>{{row.id}} [{{row.value2}}]</td>
                            <td>{{row.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group text-center">
                <!--<button class="btn btn-default" ng-click="modal.mensagens.open()"><i class="fas fa-comments"></i> Nova mensagem</button>-->
                <button class="btn btn-default" ng-click="modal.historico.open();chat.openHistorico()"><i class="fas fa-history"></i> Histórico</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <button class="btn btn-success" ng-click="chat.saveRefs()">Salvar <i class="far fa-save"></i></button>
    </div>
</uib-accordion>
<hr>
<uib-accordion close-others="false">
    <div uib-accordion-group class="panel-default" is-open="origem_status">
        <uib-accordion-heading>Origem<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': origem_status, 'glyphicon-chevron-right': !origem_status}"></i></uib-accordion-heading>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <td class="td-blue" colspan="13"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <th colspan="7">Venda</th>
                        <th colspan="4" ng-if="common.permissao">Compra</th>
                    </tr>
                    <tr>
                        <td><button class="btn btn-primary" ng-click="taxa.table.newTaxa(taxa.table.origem)"><i class="far fa-file"></i> Novo</button></td>
                        <th>Aplicar?</th>
                        <th>Taxa</th> 
                        <!-- <th>Descrição</th> -->
                        <th>Equipamento</th>
                        
                        <th>Moeda</th> <!-- INICIO VENDA -->
                        <th>Valor</th>
                        <th>Tipo Calculo</th>
                        <th>Modo de Pagamaneto</th> <!-- FIM VENDA -->
                        
                        <th ng-if="common.permissao">Moeda</th><!-- INICIO COMPRA -->
                        <th ng-if="common.permissao">Valor</th>
                        <th ng-if="common.permissao">Tipo Calculo</th>
                        <th ng-if="common.permissao">Modo de pagamento</th> <!-- FIM COMPRA -->
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in taxa.table.origem">
                        <td>
                            <span ng-if="!row.editable"><button class="btn btn-warning" ng-click="row.editable = true"><i class="fas fa-edit"></i></button></span>
                            <span ng-if="row.editable"><button class="btn btn-success" ng-click="taxa.table.save(row, 'O')"><i class="far fa-save"></i></button></span>
                        </td>
                        <td class="text-center"><input type="checkbox" ng-model="row.aplicar" ng-checked="row.aplicar" ng-change="taxa.table._checkAll = false"></td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.taxa.value}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.taxa" ng-options="aux as aux.value for aux in combo.taxas.origem track by aux.id"></select></span>
                        </td>
                        <!-- <td> -->
                            
                            <!-- <span ng-if="!row.editable">{{row.venda.descricao.DS}}</span>
                            <span ng-if="row.editable"><input class="form-control" ng-model="row.venda.descricao" uib-typeahead="aux as aux.DS for aux in call(WVDF.ws_ccgs225.f_CCGS225_busca($viewValue, Url.aUsuarioSessao))"></span>
                        </td> -->
                        <td>
                            <span ng-if="!row.editable">{{row.venda.equipamento.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.equipamento" ng-options="aux as aux.DS for aux in combo.equipamento track by aux.ID"></select></span>
                        </td>
                        <!-- INICIO VENDA -->
                        <td>
                            <span ng-if="!row.editable">{{row.venda.moeda.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.moeda" ng-options="aux as aux.DS for aux in combo.moeda track by aux.ID"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.valor}}</span>
                            <span ng-if="row.editable"><input class="form-control" ng-model="row.venda.valor"></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.tpCalculo.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.tpCalculo" ng-options="aux as aux.DS for aux in combo.tpCalculo track by aux.ID"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.modPagamento.value}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.modPagamento" ng-options="aux as aux.value for aux in combo.modPagamento track by aux.id"></select></span>
                        </td>
                        <!-- FIM VENDA -->
                        <!-- INICIO COMPRA -->
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.moeda.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.compra.moeda" ng-options="aux as aux.DS for aux in combo.moeda track by aux.ID"></select></span>
                        </td>
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.valor}}</span>
                            <span ng-if="row.editable"><input class="form-control" ng-model="row.compra.valor"></span>
                        </td>
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.tpCalculo.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.compra.tpCalculo" ng-options="aux as aux.DS for aux in combo.tpCalculo track by aux.ID"></select></span>
                        </td>
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.modPagamento.value}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.compra.modPagamento" ng-options="aux as aux.value for aux in combo.modPagamento track by aux.id"></select></span>
                        </td>
                        <!-- FIM COMPRA -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div uib-accordion-group class="panel-default" is-open="frete_status">
        <uib-accordion-heading>Frete<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': frete_status, 'glyphicon-chevron-right': !frete_status}"></i></uib-accordion-heading>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <td class="td-blue" colspan="13"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <th colspan="7">Venda</th>
                        <th colspan="4" ng-if="common.permissao">Compra</th>
                    </tr>
                    <tr>
                        <td><button class="btn btn-primary" ng-click="taxa.table.newTaxa(taxa.table.origem)"><i class="far fa-file"></i> Novo</button></td>
                        <th>Aplicar?</th>
                        <th>Taxa</th> 
                        <!-- <th>Descrição</th> -->
                        <th>Equipamento</th>
                        
                        <th>Moeda</th> <!-- INICIO VENDA -->
                        <th>Valor</th>
                        <th>Tipo Calculo</th>
                        <th>Modo de Pagamaneto</th> <!-- FIM VENDA -->
                        
                        <th ng-if="common.permissao">Moeda</th><!-- INICIO COMPRA -->
                        <th ng-if="common.permissao">Valor</th>
                        <th ng-if="common.permissao">Tipo Calculo</th>
                        <th ng-if="common.permissao">Modo de pagamento</th> <!-- FIM COMPRA -->
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in taxa.table.frete">
                        <td>
                            <span ng-if="!row.editable"><button class="btn btn-warning" ng-click="row.editable = true"><i class="fas fa-edit"></i></button></span>
                            <span ng-if="row.editable"><button class="btn btn-success" ng-click="taxa.table.save(row, 'F')"><i class="far fa-save"></i></button></span>
                        </td>
                        <td class="text-center"><input type="checkbox" ng-model="row.aplicar" ng-checked="row.aplicar" ng-change="taxa.table._checkAll = false"></td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.taxa.value}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.taxa" ng-options="aux as aux.value for aux in combo.taxas.frete track by aux.id"></select></span>
                        </td>
                        <!-- <td>
                            <span ng-if="!row.editable">{{row.venda.descricao.DS}}</span>
                            <span ng-if="row.editable"><input class="form-control" ng-model="row.venda.descricao" uib-typeahead="aux as aux.DS for aux in call(WVDF.ws_ccgs225.f_CCGS225_busca($viewValue, Url.aUsuarioSessao))"></span>
                        </td> -->
                        <td>
                            <span ng-if="!row.editable">{{row.venda.equipamento.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.equipamento" ng-options="aux as aux.DS for aux in combo.equipamento track by aux.ID"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.moeda.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.moeda" ng-options="aux as aux.DS for aux in combo.moeda track by aux.ID"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.valor}}</span>
                            <span ng-if="row.editable"><input class="form-control" ng-model="row.venda.valor"></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.tpCalculo.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.tpCalculo" ng-options="aux as aux.DS for aux in combo.tpCalculo track by aux.ID"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.modPagamento.value}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.modPagamento" ng-options="aux as aux.value for aux in combo.modPagamento track by aux.id"></select></span>
                        </td><!-- FIM VENDA -->
                        <!-- INICIO COMPRA -->
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.moeda.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.compra.moeda" ng-options="aux as aux.DS for aux in combo.moeda track by aux.ID"></select></span>
                        </td>
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.valor}}</span>
                            <span ng-if="row.editable"><input class="form-control" ng-model="row.compra.valor"></span>
                        </td>
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.tpCalculo.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.compra.tpCalculo" ng-options="aux as aux.DS for aux in combo.tpCalculo track by aux.ID"></select></span>
                        </td>
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.modPagamento.value}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.compra.modPagamento" ng-options="aux as aux.value for aux in combo.modPagamento track by aux.id"></select></span>
                        </td>
                        <!-- FIM COMPRA -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div uib-accordion-group class="panel-default" is-open="destino_status">
        <uib-accordion-heading>Destino<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': destino_status, 'glyphicon-chevron-right': !destino_status}"></i></uib-accordion-heading>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <td class="td-blue" colspan="13"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <th colspan="7">Venda</th>
                        <th colspan="4" ng-if="common.permissao">Compra</th>
                    </tr>
                    <tr>
                        <td><button class="btn btn-primary" ng-click="taxa.table.newTaxa(taxa.table.origem)"><i class="far fa-file"></i> Novo</button></td>
                        <th>Aplicar?</th>
                        <th>Taxa</th> 
                        <!-- <th>Descrição</th> -->
                        <th>Equipamento</th>
                        
                        <th>Moeda</th> <!-- INICIO VENDA -->
                        <th>Valor</th>
                        <th>Tipo Calculo</th>
                        <th>Modo de Pagamaneto</th> <!-- FIM VENDA -->
                        
                        <th ng-if="common.permissao">Moeda</th><!-- INICIO COMPRA -->
                        <th ng-if="common.permissao">Valor</th>
                        <th ng-if="common.permissao">Tipo Calculo</th>
                        <th ng-if="common.permissao">Modo de pagamento</th> <!-- FIM COMPRA -->
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in taxa.table.destino">
                        <td>
                            <span ng-if="!row.editable"><button class="btn btn-warning" ng-click="row.editable = true"><i class="fas fa-edit"></i></button></span>
                            <span ng-if="row.editable"><button class="btn btn-success" ng-click="taxa.table.save(row, 'D')"><i class="far fa-save"></i></button></span>
                        </td>
                        <td class="text-center"><input type="checkbox" ng-model="row.aplicar" ng-checked="row.aplicar" ng-change="taxa.table._checkAll = false"></td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.taxa.value}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.taxa" ng-options="aux as aux.value for aux in combo.taxas.destino track by aux.id"></select></span>
                        </td>
                        <!-- <td>
                            <span ng-if="!row.editable">{{row.venda.descricao.DS}}</span>
                            <span ng-if="row.editable"><input class="form-control" ng-model="row.venda.descricao" uib-typeahead="aux as aux.DS for aux in call(WVDF.ws_ccgs225.f_CCGS225_busca($viewValue, Url.aUsuarioSessao))"></span>
                        </td> -->
                        <td>
                            <span ng-if="!row.editable">{{row.venda.equipamento.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.equipamento" ng-options="aux as aux.DS for aux in combo.equipamento track by aux.ID"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.moeda.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.moeda" ng-options="aux as aux.DS for aux in combo.moeda track by aux.ID"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.valor}}</span>
                            <span ng-if="row.editable"><input class="form-control" ng-model="row.venda.valor"></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.tpCalculo.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.tpCalculo" ng-options="aux as aux.DS for aux in combo.tpCalculo track by aux.ID"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.venda.modPagamento.value}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.venda.modPagamento" ng-options="aux as aux.value for aux in combo.modPagamento track by aux.id"></select></span>
                        </td><!-- FIM VENDA -->
                        <!-- INICIO COMPRA -->
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.moeda.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.compra.moeda" ng-options="aux as aux.DS for aux in combo.moeda track by aux.ID"></select></span>
                        </td>
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.valor}}</span>
                            <span ng-if="row.editable"><input class="form-control" ng-model="row.compra.valor"></span>
                        </td>
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.tpCalculo.DS}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.compra.tpCalculo" ng-options="aux as aux.DS for aux in combo.tpCalculo track by aux.ID"></select></span>
                        </td>
                        <td ng-if="common.permissao">
                            <span ng-if="!row.editable">{{row.compra.modPagamento.value}}</span>
                            <span ng-if="row.editable"><select class="form-control" ng-model="row.compra.modPagamento" ng-options="aux as aux.value for aux in combo.modPagamento track by aux.id"></select></span>
                        </td>
                        <!-- FIM COMPRA -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div uib-accordion-group class="panel-default" is-open="comissao_status">
        <uib-accordion-heading>Comissão<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': comissao_status, 'glyphicon-chevron-right': !comissao_status}"></i></uib-accordion-heading>
        <div class="text-center"><button class="btn btn-default" ng-click="taxa.comissao.new()">Adicionar Taxa</button></div>
        <br />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th class="rptL" style="width: 15%">Tipo</th>
                        <th class="rptL" style="width: 15%">Taxa</th>
                        <th class="rptL" style="width: 15%">Descrição</th>
                        <th class="rptL" style="width: 15%">Moeda</th>
                        <th class="rptL" style="width: 15%">Valor</th>
                        <th class="rptL" style="width: 15%">Tipo Calculo</th>
                        <th class="rptL" style="width: 15%">Equipamento</th>
                        <th class="rptL" style="width: 15%">Modo de Pagamento</th>
                        <th class="rptL" style="width: 40%">Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in taxa.comissao.table">
                        <td>
                            <span ng-if="!row.editable"><button class="btn btn-warning" ng-click="row.editable = true"><i class="fas fa-edit"></i></button></span>
                            <span ng-if="row.editable"><button class="btn btn-success" ng-click="taxa.comissao.save(row)"><i class="far fa-save"></i></button></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.tipo.value}}</span>
                            <span ng-if="row.editable"><select ng-model="row.tipo" class="form-control" ng-options="aux as aux.value for aux in combo.tpTaxa track by aux.id" ng-change="taxa.comissao.combo.load(row.tipo.id)"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.taxa.value}}</span>
                            <span ng-if="row.editable">
                                <select ng-options="aux as aux.value for aux in taxa.comissao.combo.taxas" ng-model="row.taxa" ng-change="row.descricao=''" class="form-control">
                                    <option value="">NOVA TAXA</option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.descricao.DS}}</span>
                            <span ng-if="row.editable"><input class="form-control" ng-model="row.descricao" uib-typeahead="aux as aux.DS for aux in call(WVDF.ws_ccgs225.f_CCGS225_busca($viewValue, Url.aUsuarioSessao))"></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.moeda.DS}}</span>
                            <span ng-if="row.editable"><select ng-model="row.moeda" class="form-control" ng-options="aux as aux.DS for aux in combo.moeda track by aux.ID"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.valor}}</span>
                            <span ng-if="row.editable"><input type="text" class="form-control" ng-model="row.valor"></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.tpCalculo.DS}} </span>
                            <span ng-if="row.editable"><select ng-model="row.tpCalculo" class="form-control" ng-options="aux as aux.DS for aux in combo.tpCalculo track by aux.ID"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.equipamento.DS}}</span>
                            <span ng-if="row.editable"> <select ng-options="aux as aux.DS for aux in combo.equipamento track by aux.ID" ng-model="row.equipamento" class="form-control"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.modPagamento.value}}</span>
                            <span ng-if="row.editable"><select ng-model="row.modPagamento" class="form-control" ng-options="aux as aux.value for aux in combo.modPagamento track by aux.id"></select></span>
                        </td>
                        <td>
                            <span ng-if="!row.editable">{{row.note}}</span>
                            <span ng-if="row.editable"><textarea class="form-control" ng-model="row.note"></textarea></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</uib-accordion>
<pre ng-if="jsonV">{{taxa.table | json}}</pre>
<pre ng-if="jsonV">{{taxa.comissao | json}}</pre>
<!--<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed table-striped">
        <tbody>
            <tr>
                <td><strong>Venda: </strong></td>
            </tr>
            <tr>
                <td><strong>Compra: </strong></td>
            </tr>
            <tr>
                <td><strong>Estimativa de Receita do Terminal: </strong></td>
            </tr>
            <tr>
                <td><strong>Estimativa de Comissao do Cliente: </strong></td>
            </tr>
            <tr>
                <td><strong>Estimativa do Incentivo do Agente: </strong></td>
            </tr>
            <tr>
                <td><strong>Total: </strong></td>
            </tr>
        </tbody>
    </table>
</div>-->