################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/poc_qms_craft/FileContentIndex
/.vs/CROSS
/.vs/craft/FileContentIndex
/.vs/craft/CopilotIndices/17.14.794.21998
/.vs/craft/v17/.wsuo
