@charset "UTF-8";

@font-face {
  font-family: "dataflex-mobile";
  src:url("dataflex-mobile.eot");
  src:url("dataflex-mobile.eot?#iefix") format("embedded-opentype"),
    url("dataflex-mobile.woff") format("woff"),
    url("dataflex-mobile.ttf") format("truetype"),
    url("dataflex-mobile.svg#dataflex-mobile") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "dataflex-mobile" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dataflex-mobile" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-df-add-outlined:before {
  content: "a";
}
.icon-df-arrowsmalldown-outlined:before {
  content: "b";
}
.icon-df-arrowsmallleft-outlined:before {
  content: "c";
}
.icon-df-arrowsmallright-outlined:before {
  content: "d";
}
.icon-df-arrowsmallrightskewed-outlined:before {
  content: "e";
}
.icon-df-arrowsmallup-outlined:before {
  content: "f";
}
.icon-df-attachment-outlined:before {
  content: "g";
}
.icon-df-calendar-outlined:before {
  content: "h";
}
.icon-df-check-outlined:before {
  content: "i";
}
.icon-df-chevrondown-outlined:before {
  content: "j";
}
.icon-df-chevronfatdown-outlined:before {
  content: "k";
}
.icon-df-chevronfatleft-outlined:before {
  content: "l";
}
.icon-df-chevronfatright-outlined:before {
  content: "m";
}
.icon-df-chevronfatup-outlined:before {
  content: "n";
}
.icon-df-chevronleft-outlined:before {
  content: "o";
}
.icon-df-chevronright-outlined:before {
  content: "p";
}
.icon-df-chevronup-outlined:before {
  content: "q";
}
.icon-df-clear-outlined:before {
  content: "r";
}
.icon-df-close-outlined:before {
  content: "s";
}
.icon-df-completed-outlined:before {
  content: "t";
}
.icon-df-create-outlined:before {
  content: "u";
}
.icon-df-customers-outlined:before {
  content: "v";
}
.icon-df-dashboard-outlined:before {
  content: "w";
}
.icon-df-delete-outlined:before {
  content: "x";
}
.icon-df-demo-outlined:before {
  content: "y";
}
.icon-df-document-document:before {
  content: "z";
}
.icon-df-edit-outlined:before {
  content: "A";
}
.icon-df-file-outlined:before {
  content: "B";
}
.icon-df-files-outlined:before {
  content: "C";
}
.icon-df-find-outlined:before {
  content: "D";
}
.icon-df-findfirst-outlined:before {
  content: "E";
}
.icon-df-findlast-outlined:before {
  content: "F";
}
.icon-df-findnext-outlined:before {
  content: "G";
}
.icon-df-findprevious-outlined:before {
  content: "H";
}
.icon-df-folderclosed-outlined:before {
  content: "I";
}
.icon-df-folderopen-outlined:before {
  content: "J";
}
.icon-df-goback-outlined:before {
  content: "K";
}
.icon-df-goforward-outlined:before {
  content: "L";
}
.icon-df-info-outlined:before {
  content: "M";
}
.icon-df-list-outlined:before {
  content: "N";
}
.icon-df-lookup-outlined:before {
  content: "O";
}
.icon-df-menu-outlined:before {
  content: "P";
}
.icon-df-minus-outlined:before {
  content: "Q";
}
.icon-df-orders-outlined:before {
  content: "R";
}
.icon-df-print-outlined:before {
  content: "S";
}
.icon-df-products-outlined:before {
  content: "T";
}
.icon-df-recordadd-outlined:before {
  content: "U";
}
.icon-df-recordlookup-outlined:before {
  content: "V";
}
.icon-df-recordremove-outlined:before {
  content: "W";
}
.icon-df-remove-outlined:before {
  content: "X";
}
.icon-df-report-outlined:before {
  content: "Y";
}
.icon-df-salesperson-outlined:before {
  content: "Z";
}
.icon-df-save-outlined:before {
  content: "0";
}
.icon-df-settings-outlined:before {
  content: "1";
}
.icon-df-submenuhorizontal-outlined:before {
  content: "2";
}
.icon-df-submenuvertical-outlined:before {
  content: "3";
}
.icon-df-theme-outlined:before {
  content: "4";
}
.icon-df-upload-outlined:before {
  content: "5";
}
.icon-df-user-outlined:before {
  content: "6";
}
.icon-df-add-filled:before {
  content: "7";
}
.icon-df-arrowsmalldown-filled:before {
  content: "8";
}
.icon-df-arrowsmallleft-filled:before {
  content: "9";
}
.icon-df-arrowsmallright-filled:before {
  content: "!";
}
.icon-df-arrowsmallrightskewed-filled:before {
  content: "\"";
}
.icon-df-arrowsmallup-filled:before {
  content: "#";
}
.icon-df-attachment-filled:before {
  content: "$";
}
.icon-df-calendar-filled:before {
  content: "%";
}
.icon-df-check-filled:before {
  content: "&";
}
.icon-df-chevrondown-filled:before {
  content: "'";
}
.icon-df-chevronfatdown-filled:before {
  content: "(";
}
.icon-df-chevronfatleft-filled:before {
  content: ")";
}
.icon-df-chevronfatright-filled:before {
  content: "*";
}
.icon-df-chevronfatup-filled:before {
  content: "+";
}
.icon-df-chevronleft-filled:before {
  content: ",";
}
.icon-df-chevronright-filled:before {
  content: "-";
}
.icon-df-chevronup-filled:before {
  content: ".";
}
.icon-df-clear-filled:before {
  content: "/";
}
.icon-df-close-filled:before {
  content: ":";
}
.icon-df-completed-filled:before {
  content: ";";
}
.icon-df-create-filled:before {
  content: "<";
}
.icon-df-customers-filled:before {
  content: "=";
}
.icon-df-dashboard-filled:before {
  content: ">";
}
.icon-df-delete-filled:before {
  content: "?";
}
.icon-df-demo-filled:before {
  content: "@";
}
.icon-df-document-filled:before {
  content: "[";
}
.icon-df-edit-filled:before {
  content: "]";
}
.icon-df-file-filled:before {
  content: "^";
}
.icon-df-files-filled:before {
  content: "_";
}
.icon-df-find-filled:before {
  content: "`";
}
.icon-df-findfirst-filled:before {
  content: "{";
}
.icon-df-findlast-filled:before {
  content: "|";
}
.icon-df-findnext-filled:before {
  content: "}";
}
.icon-df-findprevious-filled:before {
  content: "~";
}
.icon-df-folderclosed-filled:before {
  content: "\\";
}
.icon-df-folderopen-filled:before {
  content: "\e000";
}
.icon-df-goback-filled:before {
  content: "\e001";
}
.icon-df-goforward-filled:before {
  content: "\e002";
}
.icon-df-info-filled:before {
  content: "\e003";
}
.icon-df-list-filled:before {
  content: "\e004";
}
.icon-df-lookup-filled:before {
  content: "\e005";
}
.icon-df-menu-filled:before {
  content: "\e006";
}
.icon-df-minus-filled:before {
  content: "\e007";
}
.icon-df-orders-filled:before {
  content: "\e008";
}
.icon-df-print-filled:before {
  content: "\e009";
}
.icon-df-products-filled:before {
  content: "\e00a";
}
.icon-df-recordadd-filled:before {
  content: "\e00b";
}
.icon-df-recordlookup-filled:before {
  content: "\e00c";
}
.icon-df-recordremove-filled:before {
  content: "\e00d";
}
.icon-df-remove-filled:before {
  content: "\e00e";
}
.icon-df-report-filled:before {
  content: "\e00f";
}
.icon-df-salesperson-filled:before {
  content: "\e010";
}
.icon-df-save-filled:before {
  content: "\e011";
}
.icon-df-settings-filled:before {
  content: "\e012";
}
.icon-df-submenuhorizontal-filled:before {
  content: "\e013";
}
.icon-df-submenuvertical-filled:before {
  content: "\e014";
}
.icon-df-theme-filled:before {
  content: "\e015";
}
.icon-df-upload-filled:before {
  content: "\e016";
}
.icon-df-user-filled:before {
  content: "\e017";
}
