body#login 
{
	background: url(image/bg-body.jpg) repeat-x top #F2F2F2;	
}

body#login div#page div#header div#header-sub div#header-pluscargo
{
	float: right;
	background: url(image/logo-pluscargo.jpg) no-repeat;
	width: 320px;
	height: 70px;
	 margin-top: 2px;
	 display:none;
}

body#login div#page div#content div#login 
{ 
	width: 200px;
	padding: 2px;
	margin: auto;
	border: 1px solid #DDD;
	text-align: center;
}

body#login div#page div#content div#login table 
{ 
	width:100%;
	margin: auto;
	background-color: #EEE;
}