/*@import url(reset.css);*/


* { padding: 0; margin: 0; }
a:link, a:active, a:visited 
{ 
	color: #000; 
}

a:hover { 
	color: #0066CB 
}

h1 
{ 
	font-size: 18px;
	text-transform: uppercase;
}
 
body 
{
	color: #000;
	font-size: 11px;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	
}


div#page { 
	width: 100%; 
}

div#page div#header 
{
	background: url(image/bg-header.jpg) repeat-x top #FFF;
	width: 100%; 
	height: 75px; 
	border-bottom: 5px solid #00349A;
	text-align: center;
}

div#page div#header div#header-sub
{
 margin: auto;	
} 

div#page div#header div#header-sub div#header-logo
{
	float: left;
	background: url(image/logo-asia.jpg) no-repeat;
	width: 460px;
	height: 74px;
}

div#page div#content { 
	
	border-top: 5px solid #B2C2E0;
	padding: 50px 10px 10px;
	text-align: center;
}

div#page div#content div#midle 
{ 
	text-align: left;
	width: 748px;
	margin: auto;
	padding: 0 10px;
}

.input-focus 
{ 
	background-color: #FF3; 
}

.input-btn 
{
	font-size: 10px; 
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; 
	font-weight: normal;
	cursor: pointer;
	padding: 0;
	border: 1px solid #999;
}

.alertMessage {
	
	color: #000; 
	padding: 2px; 
	background-color: #FCF0D8; 
	border: 1px solid #D3BE96; 
	text-align: center; 
}

.tablePopUp { 

	width: 100%;
	height:100%; 
	border:1px solid #293C5A; 
	background-color:#fff;
}

.tablePopUp td { 

	padding: 5px;
}

table { 
	border: none; 
	
	font-size: 11px;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-weight: normal; 
	
}

table caption {
	font-size: 11px;
	text-align: left;
	text-transform: uppercase;
	padding: 5px;
	font-weight: bold;
}

table thead tr th, table tbody tr th{ 
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-align: left;
	text-transform: uppercase;
	padding: 5px;
}

table tbody tr td { 
	padding: 1px; 
	text-align: left; 
	border: none;
}



table.tableForm{
	/*border: 1px solid #CCC;*/
	width: 100%;	
}

table.tableForm tbody tr th{
	text-align: right;
    /*border-bottom: 1px solid #EEE;*/
    /*border-right: 1px solid #EEE;*/
	/*border: 1px solid #CCC;*/
	width: 180px;
	padding: 5px;
}

table.tableForm tbody tr td{
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
	/*border: 1px solid #CCC;*/
		padding: 5px;
}


/* TABELA GRID */ 

table.tableGrid {
	border: 1px solid #00349A;
	width: 100%;	
}

table.tableGrid caption {
	font-size: 11px;
	color: #FFF;
	text-align: left;
	text-transform: uppercase;
	padding: 5px;
	background-color: #00349A;
	font-weight: bold;
}

table.tableGrid caption span { 
	float: left;
	
}

table.tableGrid caption img { 
	float: right;
}

table.tableGrid tbody tr td { padding: 5px; text-align: left; }

table.tableGrid tbody tr.cycle td { background-color: #DDD; }

table.tableGrid tbody tr.hilight td { background-color: #FF3; }

table.tableGrid tfooter tr td { background-color: #999;  }

/* -- > */


/* TABELA RELATORIOS */

table.tableReport 
{ 
	border: 1px solid #00349A; 
	font-size: 10px;
	width: 100%;
}

table.tableReport caption 
{ 
	color: #00349A;
	background-color: #B2C2E0;
	
	border-bottom: none;
	text-align: center;
}

table.tableReport thead th 
{ 
	color: #FFF;
	background-color: #00349A;
	
	
}

table.tableReport tbody td 
{
	border: 1px solid #CCC;

}

table.tableReport tbody tr.hilight td { background-color: #CCC; }

table.tableReport .HeaderVl
{
    padding-right: 4px;
	text-align: right;

}

table.tableReport .DataVl
{
    padding-right: 4px;
	text-align: right;

}

table.tableReport .DataVlTotal
{
    font-size: 11px; 
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-weight: bolder;
    padding-right: 4px;
	text-align: right;
	font-weight: bold;

}

table.tableReport .DataVlSubTotal
{
	font-size: 10px;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-weight: bolder;
    padding-right: 4px;
	text-align: right;
	font-weight: bold;

}

table.tableAccordion { 
	width: 100%;
	border: 1px solid #CCC;
}

table.tableAccordion tbody th{ 
	text-align: left;
	cursor:pointer;
	padding: 5px;
	background-color: #CCC;
	font-weight: normal;
	text-transform:uppercase;
}

table.tableAccordion tbody td{ 
	
	padding: 5px;
    
    
}

/* -- > */



/* TABELA PESQUISA */

table.tableSearch
{
	
	width: 100%;	
}

table.tableSearch caption 
{
	font-size: 11px;
	color: #FFF;
	text-align: left;
	text-transform: uppercase;
	padding: 5px;
	background-color: #143D55;
	font-weight: bold;
}

table.tableSearch tbody tr th 
{ 
	text-align: right;
	padding: 2px;
	
	text-transform: uppercase;
	
	
}

table.tableSearch tbody tr td 
{ 
	
	padding: 2px; 

}

/* -- > */

/* TABELA RELATORIOS */

table.tableReport 
{ 
	border: 1px solid #00349A; 
	font-size: 10px;
}

table.tableReport caption 
{ 
	color: #00349A;
	background-color: #B2C2E0;
	border: 1px solid #00349A;
	border-bottom: none;
	text-align: center;
}

table.tableReport thead th 
{ 
	color: #FFF;
	background-color: #00349A;
	
}

table.tableReport tbody td 
{
	border: 1px solid #CCC;

}

table.tableAccordion { 
	width: 100%;
	border: 1px solid #CCC;
}

table.tableAccordion tbody th{ 
	text-align: left;
	cursor:pointer;
	padding: 5px;
	background-color: #CCC;
	font-weight: normal;
	text-transform:uppercase;
}

table.tableAccordion tbody td{ 
	
	padding: 5px;
    
    
}

/* -- > */


/* MENU PRINCIPAL */
body#menu { 
	background: none;
	background: url(image/bg-page-menu.jpg) top repeat-x #FFF;
}

body#menu div#page div#header div#header-sub div#header-info { 
	float: right;
	padding: 5px;
	width: 390px;
}

body#menu div#page div#header div#header-sub div#header-info table { 
	float: right;
	font-size: 10px;
}

body#menu div#page div#header-menu { 
	background-color: #B2C2E0;
	clear: both; 
	float: left;
	width: 100%;
	padding-top: 2px;
}

body#menu div#page div#header-menu a { 
	color: #00349A;
}

body#menu div#page div#header-menu table { 
	font-size: 11px;
	color: #00349A;
	border-collapse: separate;
	border-spacing: 2px;

}

/* --> */


.pageBottom {
     font-size: 8px;
     text-align: left;
}



/* TABLEGRIDDETAILS */

table.tablegriddetails, table.tablegriddetails tbody td { font:100% Arial, Helvetica, sans-serif; }
table.tablegriddetails {width:100%;border-collapse:collapse;margin:1em 0; margin: auto;}
table.tablegriddetails thead th, table.tablegriddetails tbody td {text-align:left;padding:.5em;border:1px solid #328AA4;}
table.tablegriddetails thead th {background:#328aa4 url(image/tr_back.gif) repeat-x;color:#fff;}
table.tablegriddetails tbody td { background:#FFF;}
table.tablegriddetails tbody tr.t_hightlight td { background-color: #CCC; }
table.tablegriddetails tbody tr.t_selected td { background-color: #333; color: #FFF; border: 1px solid #333; }
table.tablegriddetails tbody tr.t_title { cursor: pointer; } 


/* TABLEGRIDDETAILS */


h1.ss_title { background: url(image/bg-ss-title.jpg) repeat-x #0D4D7B; padding:10px; font-size: 12px; text-transform: uppercase; color: #FFF; border-bottom: 1px solid #072943; }
 
div.ss-menu { background: url(image/bg-ss-menu.jpg) repeat-x;  padding: 10px;} 
 
div.panel { padding: 10px; background: url(image/bg-panel.jpg) repeat-x; }

div.frm_panel { border: 1px solid #CCC; background-color: #EEE; padding: 10px; }
div.frm_panel hr { border-bottom: 1px solid #CCC; height: 1px; }

.input-on {  background: url(image/bg-input-on.jpg) repeat-x; color: #000; border: 1px solid #000; text-transform: uppercase; font-size: 10px; padding: 2px; cursor: pointer; }
.input-off {  background: url(image/bg-input-off.jpg) repeat-x; color: #000; border: 1px solid #000; text-transform: uppercase; font-size: 10px; padding: 2px; cursor: pointer; }
.input-save { background: url(image/bg-input-save.jpg) no-repeat left; color: #000; border: 1px solid #000; text-transform: uppercase; font-size: 10px; padding: 2px 2px 2px 15px; cursor: pointer;  }


/* ESTILO ABAS */
div.panel_tab { border: 1px solid #CCC; background-color: #FFF; }
div.panel_tab .tab_menu { background-color: #EEE; border-bottom: 1px solid #CCC;}
div.panel_tab  .tab_content { padding: 10px;} 
div.panel_tab .tab-on { border-right: 1px solid #CCC; color: #000;text-transform: uppercase; padding: 5px; cursor: pointer; background: url(image/bg-tab-on.jpg) repeat-x; }
div.panel_tab .tab-off { border-right: 1px solid #CCC;  color: #000; text-transform: uppercase; padding: 5px; cursor: pointer; background:  url(image/bg-tab-off.jpg) repeat-x; }
/* ESTILO ABAS */




