#main .aside > div {
	float:left;
	width:100%;
	margin:0 0 20px 0;
}
#main .aside div span {
	float:left;
	width:265px;
	color:#FFFFFF;
	font-size:14px;
	background:#152A48;
	padding:5px 0 5px 35px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
#main .aside .moeda span {
	background:url(../img/aside-moeda.png) 15px center no-repeat #152A48;
}
#main .aside .agenda span {
	background:url(../img/aside-agenda.png) 15px center no-repeat #152A48;
}
#main .aside .noticias span {
	background:url(../img/aside-noticias.png) 15px center no-repeat #152A48;
}
#main .aside .webmail span {
	background:url(../img/aside-webmail.png) 15px center no-repeat #152A48;
}
#main .aside .conteudo {
	float:left;
	width:298px;
	border:1px solid #CCCCCC;
	padding:15px 0 0 0;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
#main .aside .conteudo ul {
	float:left;
	list-style:inside;
}
#main .aside .conteudo ul li {
	float:left;
	width:100%;
	margin:0 0 5px 0;
}
#main .aside .agenda .conteudo form {
	width:245px;
	margin:0 0 20px 20px;
}
#main .aside .agenda .conteudo form input {
	margin:0;
}
#main .aside .agenda .conteudo form input.search-query {
	width:190px
}
#main .content .content_pesquisa {
	float:left;
	width:890px;
	padding:20px 15px;
	background:#EEEEEE;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
#main .content .content_pesquisa form {
	margin:0;
}
#main .content .content_pesquisa label {
	float:left;
	margin:0 10px 10px 0;
}
#main .content .content_pesquisa label span {
	float:left;
	line-height:30px;
	margin:0 10px 0 0;
}
#main .content .content_pesquisa label select {
	height:30px;
}
#main .content .content_pesquisa label input[type="submit"], #main .content .content_pesquisa label input[type="reset"]{
	padding:5px 12px !important;
}
#main .content ul.lista_pesquisa {
	float:left;
	width:100%;
}
#main .content ul.lista_pesquisa li {
	float:left;
	width:100%;
	padding:8px 0 8px 0;
	border-top:1px solid #DDDDDD;
}