
body {
	background:url(../img/body-bg.png) center 235px no-repeat #152A48 !important;
}
.content {
	top:200px;
	left:50%;
	width:900px;
	height:360px;
	position:absolute;
	margin:0 0 0 -450px;
}
.content a.branding {
	float:left;
	margin:0 0 0 150px;
}
.content form.valida_login {
	float:left;
	margin:20px 0 60px 300px;
}
.content form.valida_login label {
	float:left;
	margin:0 5px 0 0;
}
.content form.valida_login label span, .content .webemail span {
	float:left;
	height:30px;
	color:#FFFFFF;
	font-size:16px;
	line-height:30px;
	margin:0 25px 0 0;
	padding:0 0 0 25px;
	background:url(../img/login-span-bg.png) 5px center no-repeat;
}
.content .webemail span {
	line-height:20px;
	background:url(../img/login-span-webmail-bg.png) 5px 5px no-repeat;
}
.content form.valida_login label input[type="text"] {
	width:100px;
}
.content form.valida_login label input[type="submit"]{
	height:31px;
}
.content .webemail {
	float:left;
	margin:0 0 35px 290px;
}
.content .webemail a {
	color:#DDB143;
	font-size:14px;
	padding:0 5px 0 0;
	text-decoration:underline;
	border-right:1px solid #DDB143;
	font-family:"Helvetica",Helvetica,Arial,sans-serif;
}
.content .webemail a:last-child {
	border:none;
}
.content .alert {
	float:left;
	width:849px;
}
.content .alert .important {
	float:left;
}
.content .alert p {
	float:left;
	width:100%;
}
.content .alert a {
	color:#B84A46;
	text-decoration:underline;
}