@charset "utf-8";

/* INDEX.ASP */

body {
	margin: 0;
	padding: 0;
}
	
#container {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
}

#header{
	position: relative;
	height:60px;
	background: #fff;
}

#header_content{
	position: relative;
	width: 1020px;
	left: 50%;
	margin-left:-510px;
	margin-bottom:0px;
}

#header_image{
	float: left;
	height: 50px;
}

#header_info{
    margin-top: 5px;
	float: right;
}

#content{
	position: relative;
	background: #fff;
}

#head_content{
	position: relative;
	background-image: url("../images/bg_tit_azul.jpg");
	text-align: center;
}

#menu{
	position: relative;
	width: 1020px;
	left: 50%;
	margin-left: -510px;
	height: 38px;
	background-image: url("../images/bg_menu.png");
	background-repeat: no-repeat;
	margin-bottom: 2px; 
	z-index: 1;
}

#principal{
	width: 1020px;
	left: 50%;
	margin-left: 510px;
	z-index:0;
}

#footer{
	position: absolute !important;
    top: expression(((document.documentElement.scrollTop || document.body.scrollTop) + (document.documentElement.clientHeight || document.body.clientHeight) - this.offsetHeight) + "px");
	height: 20px;
	width: 100%;
	background: #002c50;
}

#footer_align{
	position: relative;
	width: 1020px;
	left: 50%;
	margin-left:-510px;
}

/* HOME.ASP */

#frame_home_esquerda{
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #b3b3b3;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #b3b3b3;
}

#home_direita{
	float: right;
	width: 310px;
	margin: -50px 0 0 0;
}

#home_top{
	width: 699px;
	background: #fff;
	margin-bottom: -30px;
	margin-right: 320px;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #b3b3b3;
}

/*#frame_esquerda_botton{
	width: 100%; 	height: 100%; 	border-right-width: 3px; 	border-right-style: solid; 	border-right-color: #b3b3b3; 	border-bottom-width: 3px; 	border-bottom-style: solid; 	border-bottom-color: #b3b3b3;
}*/

#home_direita_botton{
	float: right;
	width: 310px;
}

#tabela_esquerda{
	float: left;
	width: 230px;
	height: 290px;
	background: #fff;
	margin: 3px 1px 2px 10px;
}

#tabela_direita{
	float: right;
	width: 410px;
	height: 295px;
	background: #fff;
	margin: 3px 10px 2px 0px;
}

#dados_empresa{
	border: 1px solid #ccc;
	margin: 0 10px 5px 10px; 
}

#fundoBranco{
	position:relative;
	width: 1020px;
	left: 50%;
	margin-left: -510px;
	height:expression((document.body.offsetHeight - 250 ) + "px");
	background: #fff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #b3b3b3;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #b3b3b3;
}

#fundoBrancoInicio{
	position:relative;
	width: 1020px;
	left: 50%;
	margin-left: -510px;
	height:expression((document.body.offsetHeight - 210 ) + "px");
	background: #fff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #b3b3b3;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #b3b3b3;
}
#fundoBrancoNoBorder{
	position:relative;
	width: 1020px;
	left: 50%;
	margin-left: -510px;
	height:expression((document.body.offsetHeight - 250 ) + "px");
	background: #fff;
}
/* CLASSES */

.alinhar_icones{
	float: left;
}

.texto-preto {
	font-family:Arial, Helvetica, sans-serif;
	color:#313131;
	font-size:11px;
	}
	
.texto-preto-bold {
	font-family:Arial, Helvetica, sans-serif;
	color:#313131;
	font-weight:bold;
	font-size:11px;
	}

.texto-azul{
	font-family:Arial, Helvetica, sans-serif;
	color:#3b6585;
	font-size:11px;
	}	
	
.texto-vermelho{
	font-family:Arial, Helvetica, sans-serif;
	color:#FF0000;
	font-size:11px;
	}	
	
.texto-verde{
	font-family:Arial, Helvetica, sans-serif;
	color:#008000;
	font-size:11px;
	}		

.texto-laranja{
	font-family:Arial, Helvetica, sans-serif;
	color:#FF6600;
	font-size:11px;
	}	
	
	
.texto-azul-bold {
	font-family:Arial, Helvetica, sans-serif;
	color:#0a375e;
	font-weight:bold;
	font-size:11px;
	}
	
.texto-branco-bold {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-weight:bold;
	font-size:11px;
	}

.texto-azul-gd {
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	color:#0a375e;
	font-weight:bold;
	font-size:18px;
	margin: 10px 0px 5px 5px;
	font-style: italic;
  	}

.margem_titulo{
	margin: 10px 0px 5px -340px;
}
	
.margem_esquerda{
	margin: 0px 0px 10px 0px;
}

.margem_superior{
	margin: 5px 0px 0px 0px;
}

.img_center{
	text-align:center;
}

.form {
	height: 16pt;
	font-family:Arial, Helvetica, sans-serif;
	color:#134267;
	font-weight:normal;
	font-size:11px;
	border: 1px solid #bfbfbf;
	}
	
.tableHeight{
	height: height:expression((document.body.offsetHeight - 250 ) + "px");
}

a:link, a:visited, a:hover, a:active {
	font-family:Arial, Helvetica, sans-serif;
	color:#134267;
	font-weight:bold;
	font-size:12px;
 }