<!DOCTYPE html>
<html ng-app="myApp" lang="pt-br">

<head>
    <title>CROSS HOMOLOGACAO</title>
    <meta charset="UTF-8">
    <meta name="Description" content="CROSS HOMOLOGACAO">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="/wvdf_bib/images/icons/rosa-dos-ventos.ico">     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/wvdf_bib/BIB/Estilos/Bibliotecas/toaster.min.css">
    <style type="text/css">
    .col-form-label {
        text-align: right;
    }

    @media (max-width: 766px) {
        .col-form-label {
            text-align: left;
        }
    }
    </style>
</head>

<body>
    <div class="container-fluid mt-5" ng-controller="MenuRegisterController as vm">
        <toaster-container></toaster-container>
        <div class="row">
            <div class="offset-md-1 col-md-10 col-12">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Sistema</label>
                    <div class="col-lg-6 col-md-7">
                        <select class="form-control" ng-options="sistema as sistema.value for sistema in vm.sistemaLst track by sistema.id" ng-model="vm.sistema"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Titulo</label>
                    <div class="col-lg-6 col-md-7">
                        <input type="text" class="form-control" placeholder="Titulo" ng-model="vm.titulo">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Programa</label>
                    <div class="col-lg-6 col-md-7">
                        <input type="text" class="form-control" placeholder="Programa" ng-model="vm.programa">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Localizacao</label>
                    <div class="col-lg-6 col-md-7">
                        <select class="form-control" ng-options="localizacao as localizacao.value for localizacao in vm.localizacaoLst track by localizacao.id" ng-model="vm.localizacao"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Status</label>
                    <div class="col-lg-6 col-md-7">
                        <select class="form-control" ng-options="status as status.value for status in vm.statusLst track by status.id" ng-model="vm.status"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Classe</label>
                    <div class="col-lg-6 col-md-7">
                        <select class="form-control" ng-options="classe as classe.value for classe in vm.classeLst track by classe.id" ng-model="vm.classe"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Endereco Workspace</label>
                    <div class="col-lg-6 col-md-7">
                        <select class="form-control" ng-options="workspace as workspace.value for workspace in vm.workspaceLst track by workspace.id" ng-model="vm.workspace"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Icone Bootstrap</label>
                    <div class="col-lg-6 col-md-7">
                        <input type="text" class="form-control" placeholder="Icone Bootstrap" ng-model="vm.iconebootsp">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Id</label>
                    <div class="col-lg-6 col-md-7">
                        <input type="text" class="form-control" placeholder="Id" ng-model="vm.id" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-3">
            <div class="offset-md-1 col-md-10 col-12">
                <button type="button" class="btn btn-success mt-sm-0 mt-1" ng-click="vm.saveMenu()" ng-disabled="vm.hasError">
                    <i class="fa fa-floppy-o"></i> Salvar
                </button>
                <button type="button" class="btn btn-primary mt-sm-0 mt-1" ng-click="vm.reloadPage()">
                    <i class="fa fa-file"></i> Novo
                </button>
                <button type="button" class="btn btn-danger mt-sm-0 mt-1" ng-click="vm.deleteMenu()" ng-disabled="vm.id == 0 || vm.hasError">
                    <i class="fa fa-trash"></i> Excluir
                </button>
                <button type="button" class="btn btn-warning mt-sm-0 mt-1" ng-click="vm.searchMenu()">
                    <i class="fa fa-search"></i> Pesquisar
                </button>
                <button type="button" class="btn btn-info mt-sm-0 mt-1" ng-click="vm.modalLanguages(vm.sistema.id, vm.titulo, vm.id)" ng-disabled="vm.id == 0 || vm.hasError">
                    <i class="fa fa-language"></i> Idioma
                </button>
            </div>
        </div>
    </div>
    <div style="height: 1000px;"></div>
    <script type="text/ng-template" id="ModalLanguages.html">
        <div class="modal-header text-center">
            <h3 class="modal-title" id="modal-title">Editar</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div ng-repeat="idioma in vm.idiomas">
                <div class="row justify-content-center">
                    <div class="offset-md-1 col-md-10 col-12">
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">{{idioma.idioma_ds}}</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="idioma.titulo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" aria-label="Fechar" ng-click="vm.closeModal()"> 
                <i class="fa fa-times"></i> Fechar
            </button>
            <button class="btn btn-success" aria-label="Salvar" ng-click="vm.saveModal()"> 
                <i class="fa fa-floppy-o"></i> Salvar
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="ModalDelete.html">
        <div class="modal-header text-center">
            <h3 class="modal-title" id="modal-title">Deletar o menu {{ vm.titulo }}</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" aria-label="Cancelar" ng-click="vm.cancelModal()"> 
                <i class="fa fa-times"></i> Cancelar
            </button>
            <button class="btn btn-success" aria-label="Confirmar" ng-click="vm.confirmModal()"> 
                <i class="fa fa-check"></i> Confirmar
            </button>
        </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.2/angular-sanitize.min.js"></script>
    <script src="https://morgul.github.io/ui-bootstrap4/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script src="/wvdf_bib/BIB/Scripts/Bibliotecas/Url.js"></script>
    <script src="/wvdf_bib/BIB/Scripts/Bibliotecas/toaster.min.js"></script>
    <script src="PAG362_01.js"></script>
</body>

</html>