<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Proposta</title>
    <script src="scripts/cacheScript.2wa.js"></script>
    <script src="scripts/Url.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/2.2.0/toaster.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.5/angular-sanitize.min.js"></script>
    <script src="js/scriptLoad.js"></script>
    <script src="js/ws.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/infoGeralCtrl.js"></script>
    <script src="js/app/taxasCtrl.js"></script>
    <script src="js/app/chatCtrl.js"></script>
    <script src="js/app/mainCtrl.js"></script>
</head>

<body ng-controller="MainCtrl">
    <toaster-container toaster-options="{'time-out':3000,'close-button':true,'animati on-class':'toast-bottom-center',positionClass : 'toast-top-center'}"></toaster-container>
    <div ng-class="ckFluid ? 'container' : 'container-fluid'">
        <div class="panel panel-default" hidden>
            <div class="panel-heading">Dev</div>
            <div class="panel-body">
                <label>Centralizar: <input type="checkbox" ng-model="ckFluid" ng-init="ckFluid = false"></label>
                <br>
                <label>Console debug: <input type="checkbox" ng-model="dbg" ng-init="dbg = false" ng-checked="dbg" ng-change="setDbg(dbg)"></label>
                <br>
                 <label>JSON view: <input type="checkbox" ng-model="jsonV" ng-init="jsonV = false" ng-checked="jsonV"></label>
                <br>
                <div class="col-md-6" ng-if="jsonV">
                    <label>info.form ng-model:</label><br>
                    <textarea>{{info.form | json}}</textarea>
                </div>
                <div class="col-md-6" ng-if="jsonV">
                    <label>taxa ng-model:</label><br>
                    <textarea>{{taxa | json}}</textarea>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="menuDescription"></div>
        <uib-tabset active="activeTab">
            <uib-tab index="$index" ng-repeat="tab in tabs | filter: {hidden: false}" heading="{{tab.title}}" disable="tab.disabled">
                <ng-include src="tab.include"></ng-include>
            </uib-tab>
        </uib-tabset>
    </div>
</body>

</html>