<div class="modal fade" id="detalhesAvancados" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg center-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-6">
                    <h4 class="modal-title">Detalhes Avançados</h4>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="btCloseModal btn btn-danger" ng-click="modal.detalhesAvancados.close()">
                        <i class="fa fa-times" aria-hidden="true"></i> Fechar
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-md-2 text-right">
                    <label>IMO
                    <div class="switch">
                        <input type="checkbox" ng-model="modal.detalhesAvancados.data.imo" ng-checked="modal.detalhesAvancados.data.imo">
                        <span class="slider round"></span>
                    </div>
                    </label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2 text-right">
                    <label>BAGAGEM
                    <div class="switch">
                        <input type="checkbox" ng-model="modal.detalhesAvancados.data.bagagem" ng-checked="modal.detalhesAvancados.data.bagagem">
                        <span class="slider round"></span>
                    </div>
                    </label>
                </div>
                <div class="col-md-2 text-right">
                    <label>CONSUMO HUMANO
                    <div class="switch">
                        <input type="checkbox" ng-model="modal.detalhesAvancados.data.consumoHumano" ng-checked="modal.detalhesAvancados.data.consumoHumano">
                        <span class="slider round"></span>
                    </div>
                    </label>
                </div>
                <div class="col-md-2 text-right">
                    <label>SHIPPER OWN CONTAINER
                    <div class="switch">
                        <input type="checkbox" ng-model="modal.detalhesAvancados.data.shipperctnr" ng-checked="modal.detalhesAvancados.data.shipperctnr">
                        <span class="slider round"></span>
                    </div>
                    </label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2 text-right">
                    <label>CONSUMO ANIMAL
                    <div class="switch">
                        <input type="checkbox" ng-model="modal.detalhesAvancados.data.consumoAnimal" ng-checked="modal.detalhesAvancados.data.consumoAnimal">
                        <span class="slider round"></span>
                    </div>
                    </label>
                </div>
                <div class="col-md-2 text-right">
                    <label>OUTROS
                    <div class="switch">
                        <input type="checkbox" ng-model="modal.detalhesAvancados.data.outros" ng-checked="modal.detalhesAvancados.data.outros">
                        <span class="slider round"></span>
                    </div>
                    </label>
                </div>
                <div class="col-md-2 text-right" ng-if="modal.detalhesAvancados.data.outros">
                    <input class="form-control" ng-model="modal.detalhesAvancados.data.outrosTxt" placeholder="Outros...">
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th colspan="2" class="fit"><button class="btn btn-primary" ng-click="modal.detalhesAvancados.addRow()">Novo</button></th>
                                <th>Mercadoria</th>
                                <th>Descrição</th>
                                <th>NCM</th>
                                <th ng-if="modal.detalhesAvancados.data.imo">UN</th>
                                <th ng-if="modal.detalhesAvancados.data.imo">PKG</th>
                                <th ng-if="modal.detalhesAvancados.data.imo">Class</th>
                                <th ng-if="modal.detalhesAvancados.data.imo">Subrisk</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in modal.detalhesAvancados.data.mercadorias">
                                <td>
                                    <span ng-if="row.editable"><button class="btn btn-success" ng-click="row.editable = false"><i class="far fa-save"></i></button></span>
                                    <span ng-if="!row.editable"><button class="btn btn-warning" ng-click="row.editable = true"><i class="fas fa-edit"></i></button></span>
                                </td>
                                <td><button class="btn btn-danger" ng-click="modal.detalhesAvancados.deleteRow($index)"><i class="fas fa-trash-alt"></i></button></td>
                                <td>
                                    <span ng-if="!row.editable">{{row.mercadoria.DS}}</span>
                                    <span ng-if="row.editable"><select class="form-control" ng-model="row.mercadoria" ng-options="aux as aux.DS for aux in combo.mercadoria track by aux.ID"></select></span>
                                </td>
                                <td>
                                    <span ng-if="!row.editable">{{row.descricao}}</span>
                                    <span ng-if="row.editable"><input class="form-control" ng-model="row.descricao"></span>
                                </td>
                                <td>
                                    <span ng-if="!row.editable">{{row.ncm}}</span>
                                    <span ng-if="row.editable"><input class="form-control" ng-model="row.ncm"></span>
                                </td>
                                <td ng-if="modal.detalhesAvancados.data.imo">
                                    <span ng-if="!row.editable">{{row.un}}</span>
                                    <span ng-if="row.editable"><input class="form-control" ng-model="row.un"></span>
                                </td>
                                <td ng-if="modal.detalhesAvancados.data.imo">
                                    <span ng-if="!row.editable">{{row.pkg.value}}</span>
                                    <span ng-if="row.editable">
                                        <select class="form-control" ng-model="row.pkg" ng-options="aux as aux.value for aux in combo.pkg track by aux.id">
                                            <option value="">Packing Group</option>
                                        </select>
                                    </span>
                                </td>
                                <td ng-if="modal.detalhesAvancados.data.imo">
                                    <span ng-if="!row.editable">{{row.classe.value}}</span>
                                    <span ng-if="row.editable">
                                            <select class="form-control" ng-model="row.classe"  ng-options="aux as aux.value for aux in combo.class track by aux.id">
                                                <option value="">Class Imo</option>
                                            </select>
                                    </span>
                                </td>
                                <td ng-if="modal.detalhesAvancados.data.imo">
                                    <span ng-if="!row.editable">{{row.subrisk.value}}</span>
                                    <span ng-if="row.editable">
                                        <select class="form-control" ng-model="row.subrisk" ng-options="aux as aux.value for aux in combo.subrisk track by aux.id">
                                            <option value="">Subclass Imo</option>
                                        </select>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>