<div class="modal fade" id="negociacao" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg center-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-6">
                    <h4 class="modal-title">Negociar Taxa(s)</h4>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="btCloseModal btn btn-danger">
                        <i class="fa fa-times" aria-hidden="true"></i> Fechar
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <button class="btn btn-success" ng-click="modal.negociacao.aceitar()">Aceitar</button>
                    <button class="btn btn-danger" ng-click="modal.negociacao.recusar()">Recusar</button>
                    <button class="btn btn-primary" ng-click="modal.negociacao.contraProposta()">Contra-Proposta</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table_morecondensed">
                        <thead>
                            <tr>
                                <th class="rptL" style="width: 1px">Classe</th>
                                <th class="rptL" style="width: 1px">Taxa</th>
                                <th class="rptL" style="width: 1%">Equipamento</th>
                                <th class="rptL" style="width: 15%">Valor</th>
                                <th class="rptL" style="width: 15%">Moeda</th>
                                <th class="rptL" style="width: 15%">Modo de Pagamento</th>
                                <th class="rptL" style="width: 40%">Note</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in modal.negociacao.data.table track by $index">
                                <td>
                                    <span ng-if="row.classe == 'O'">Origem</span>
                                    <span ng-if="row.classe == 'F'">Frete</span>
                                    <span ng-if="row.classe == 'D'">Destino</span>
                                </td>
                                <td>
                                    <label>{{row.DS_T}}</label>
                                </td>
                                <td>
                                    {{row.venda.equipamento.DS}}
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="row.venda.valor" ng-disabled="row.option != 'Contra-Proposta'">
                                </td>
                                <td>
                                    <select ng-model="row.venda.moeda" class="form-control" ng-options="aux as aux.DS for aux in combo.moeda track by aux.ID" ng-disabled="row.option != 'Contra-Proposta'"></select>
                                </td>
                                <td>
                                    <select ng-model="row.venda.modPagamento" class="form-control" ng-options="aux as aux.value for aux in combo.modPagamento track by aux.id" ng-disabled="row.option != 'Contra-Proposta'"></select>
                                </td>
                                <td>
                                    <textarea class="form-control" ng-model="row.N_Note" ng-disabled="row.option != 'Contra-Proposta'"></textarea>
                                </td>
                                <td>
                                    <span data-ng-repeat="act in modal.negociacao.options">
                                        <label>
                                            <input name="r{{$parent.$index}}" type="radio" value="{{act}}" ng-model="row.option" ng-init="row.option = 'Aceitar'" /> {{act}}
                                        </label>
                                        <br />
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Extender Validade:</label>
                        <input type="text" class="form-control" placeholder="Nova Data" ng-model="modal.negociacao.data.dt_new" ng-init="modal.negociacao.data.dt_new = ''" datepicker>
                    </div>
                    <div class="col-md-2 form-group">
                        <span ng-repeat="row in modal.negociacao.options">
                            <label>
                                <input type="radio" value="{{row}}" ng-model="modal.negociacao.data.validadeOption" ng-init="modal.negociacao.data.validadeOption = 'Aceitar'" /> {{row}}
                            </label>
                            <br />
                        </span>
                    </div>
                </div>
                <div class="row" ng-if="modal.negociacao.data.recusa">
                    <div class="col-md-12">
                        <label>Recusar Motivo</label>
                        <textarea class="form-control" ng-model="modal.negociacao.data.motivoRecusa" id="txtmotivo"></textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group text-right">
                    <button class="btn btn-success" ng-click="modal.negociacao.save(modal.negociacao.data)" data-dismiss="modal"><i class="far fa-save"></i> Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>