<div class="modal fade" id="via" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg center-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-6">
                    <h4 class="modal-title">Escolha a Via</h4>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="btCloseModal btn btn-danger">
                        <i class="fa fa-times" aria-hidden="true"></i> Fechar
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-condensed table-striped table-bordered table-fill">
                        <thead>
                            <tr>
                                <th></th>
                                <th>VIA</th>
                                <th>CARRIER</th>
                                <!--<th>EQUIPAMENTO(S)</th>-->
                                <th>VALOR(ES)</th>
                                <th>TOTAL</th>
                                <th>FREQUENCIA</th>
                                <th>TRANSIT TIME</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in modal.via.data track by $index">
                                <td align="center">
                                    <input type="checkbox" ng-model="row.status" ng-checked="row.status" ng-change="modal.via.checkChange(row)">
                                </td>
                                <!-- <td width="2%" align="center">
                                    <checkbox ng-model="row.status" ng-change="modal.via.checkChange(row)" style="margin-right: 12px"></checkbox>
                                </td> -->
                                <td ng-bind-html="row.sVia"></td>
                                <td ng-bind-html="row.sArmador"></td>
                                <!--<td> {{row.sEquipo}} </td>-->
                                <td ng-bind-html="row.sValores"></td>
                                <td ng-bind-html="row.sTotal"> </td>
                                <td ng-bind-html="row.sFreq"></td>
                                <td ng-bind-html="row.sTT"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right"><button class="btn btn-success" ng-click="modal.via.save()"><i class="fa fa-floppy-o"></i> Salvar</button></div>
            </div>
        </div>
    </div>
</div>