<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12 text-center"><label>Status: <font color="red">{{form.info.status.DS}}</font></label></div>
        <div class="clearfix"></div>
        <br>
        <div class="col-md-3"><label>Cliente:</label> {{taxa.cliente}}</div>
        <div class="clearfix"></div>
        <div class="col-md-3"><label>Cliente Final:</label> {{taxa.clienteFinal}}</div>
        <div class="clearfix"></div>
        <br>
        <div class="col-md-3"><label>Proposta:</label> {{taxa.idProposta}}</div>
        <div class="col-md-3"><label>Validade:</label> {{taxa.validadeDe}} - {{taxa.validadeAte}}</div>
        <div class="col-md-3"><label>Concorrentes:</label> {{taxa.concorrentes}}</div>
        <div class="clearfix"></div>
        <div class="col-md-3"><label>POL:</label> {{taxa.pol.value}}</div>
        <div class="col-md-3"><label>POD:</label> {{taxa.pod.value}}</div>
        <div class="col-md-3"><label>VIA:</label> {{taxa.via.value}}</div>
        <div class="clearfix"></div>
        <br>
        <div class="col-md-3"><label>Embarque:</label> {{taxa.embarque}}</div>
        <div class="col-md-3"><label>Incoterm:</label> {{taxa.incoterm}}</div>
        <div class="col-md-3"><label>Tipo Operação:</label> {{taxa.operacao}}</div>
        <div class="col-md-3"><label>Modalidade do Frete:</label> {{taxa.modalidades}}</div>
        <div class="clearfix"></div>
        <div class="col-md-3"><label>Agente:</label> {{taxa.agente}}</div>
        <div class="col-md-3"><label>Transit Time:</label> {{taxa.transitTime}}</div>
        <div class="col-md-3"><label>Free Time:</label> {{taxa.freeTime}}</div>
        <div class="col-md-3"><label>Armador:</label> {{taxa.armador}}</div>
        <div class="clearfix"></div>
        <br>
        <div class="col-md-3"><label>Detalhes:</label></div>
        <div class="clearfix"></div>
        <div ng-repeat="row in common.containers track by $index">
            <div class="col-md-12"><label>PCS:</label> {{row.pcs}} ({{row.arr_hz.package.DS}}) | <label>Weight:</label> {{row.weight}} {{row.unitweight}} | <label>L:</label> {{row.length}} {{row.UOM}} | <label>W:</label> {{row.width}} {{row.UOM}} | <label>H:</label> {{row.height}} {{row.UOM}} | <label>Gross Weight:</label> {{row.total.weight}} {{row.total.grossUnit}} | <label>Volume:</label> {{row.total.volume}} {{row.total.volumeUnit}}</div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-2"><label>Total PCS:</label> {{taxa.totalPCS}}</div>
        <div class="clearfix"></div>
        <div class="col-md-2"><label>Total Weight:</label> {{taxa.totalWeight}} KG</div>
        <div class="clearfix"></div>
        <div class="col-md-2"><label>Total Volume:</label> {{taxa.totalCBM}} CBM</div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- -->
<form>
    <div class="col-md-3 form-group">
        <label>Analise de Frequencia do Cliente:</label>
    </div>
    <div class="clearfix"></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="active">
                    <th>Produto</th>
                    <th>Status</th>
                    <th>Frequencia</th>
                    <th>Ultimo Fechamento</th>
                    <th>Previsão Próximo Embarque</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-8 col-md-offset-4 form-group text-right">
        <button class="btn btn-success" ng-click="modal.status.open()"><i class="fas fa-cogs"></i> STATUS</button>
        <button class="btn btn-info" ng-click="modal.arquivos.open()"><i class="fas fa-cloud-upload-alt"></i> Arquivos <span class="badge">0</span></button>
        <button class="btn btn-default"><i class="fas fa-sync-alt"></i> Atualizar</button>
        <button class="btn btn-warning" ng-click="modal.negociacao.open()"><i class="far fa-handshake"></i> Negociação</button>
        <button class="btn btn-default" ng-click="common.btnVisualizar()"><i class="far fa-paper-plane"></i> Visualizar</button>
        <button class="btn btn-danger"><i class="fas fa-calculator"></i> Recalcular Guide</button>
    </div>
    <div class="clearfix"></div>
</form>
<hr>
<uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default" is-open="origem_status.open">
        <uib-accordion-heading>Origem<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': origem_status.open, 'glyphicon-chevron-right': !origem_status.open}"></i></uib-accordion-heading>
    </div>
    <div uib-accordion-group class="panel-default" is-open="frete_status.open">
        <uib-accordion-heading>Frete<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': frete_status.open, 'glyphicon-chevron-right': !frete_status.open}"></i></uib-accordion-heading>
    </div>
    <div uib-accordion-group class="panel-default" is-open="destino_status.open">
        <uib-accordion-heading>Destino<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': destino_status.open, 'glyphicon-chevron-right': !destino_status.open}"></i></uib-accordion-heading>
    </div>
    <div uib-accordion-group class="panel-default" is-open="comissao_status.open">
        <uib-accordion-heading>Comissão<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': comissao_status.open, 'glyphicon-chevron-right': !comissao_status.open}"></i></uib-accordion-heading>
    </div>
</uib-accordion>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <td><strong>Venda: </strong></td>
            </tr>
            <tr>
                <td><strong>Compra: </strong></td>
            </tr>
            <tr>
                <td><strong>Estimativa de Receita do Terminal: </strong></td>
            </tr>
            <tr>
                <td><strong>Estimativa de Comissao do Cliente: </strong></td>
            </tr>
            <tr>
                <td><strong>Estimativa do Incentivo do Agente: </strong></td>
            </tr>
            <tr>
                <td><strong>Total: </strong></td>
            </tr>
        </tbody>
    </table>
</div>