@charset "utf-8";,

.textinho {
	font-size: 12px;
	color: #333;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
}

body {
	background-image: url(images/fond.gif);
	font-weight: bold;
	color: #FFFF00;
	font-size: 14px;
}
.Logo strong {
	font-size: xx-large;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
}
.Sistema {
	font-family: Verdana, Geneva, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
	margin-left: 80px;
}

.Logo {
	font-size: x-small;
}
.Rodapé_textos {
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	font-weight:bold; 
}
Cor_texto_botao {
	color: #FFF;
}
cor_texto_botao {
	color: #FFF;
}
#form1 tr .textinho table tr td {
	color: #FFF;
}
Botão_interno {
	color: #FFFFFF;
}
.Bot_Entrar {
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
}
.textinho2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: normal;
}
