@charset "utf-8";

.alinhamento {
	text-align: right;
}

/*Zé você já tem essa classe em algum css que ta incorporado nessa códico q vc me enviou só acrescentar os quais eu criei aqui.
*/
.ddEntryForm{
	background-image:url(fnd_imput.png);
	height:25px;
	border: 1px solid #CCC;
	line-height:20px;
	padding-left:5px;
	}



td{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#999;
}