/****************************************************
Definicoes para corpo da pagina
****************************************************/
body {
	margin: 0px;
	padding: 0 10px 17px 10px;
	font: normal 10px/1.7em "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Sans-Serif;
	text-align: center;
}

html>body .miolo {
	width: 950px;
	text-align: justify;
}

* html body {
	overflow: hidden;
}

#conteudo {
	overflow: auto;
}

/****************************************************
Definicoes para cabecalho
****************************************************/

body>div#header, div#footer img, body>div#footer{ display: none; }

/****************************************************
Definicoes usuais
****************************************************/
p { margin: 0 0 10px 0;}

#conteudo h2 { border-bottom: solid 2px #ccc; }
#conteudo h2 #time { font-size: 8px; font-style: italic; }

