/* CSS Document */

/* tags */
body{
	font-family:Tahoma;
	font-size:12px;
	color:#463832;
	
    Margin-Top:                  5px; 
    Margin-Left:                 5px; 
    Font-family:                 Arial; 
    Font-size:                   12px; 
    SCROLLBAR-FACE-COLOR:        #F2F2F2; 
    BACKGROUND-ATTACHMENT:       fixed; 
    SCROLLBAR-HIGHLIGHT-COLOR:   #FFFFFF; 
    SCROLLBAR-SHADOW-COLOR:      #FFFFFF; 
    SCROLLBAR-3DLIGHT-COLOR:     #F2F2F2; 
    SCROLLBAR-ARROW-COLOR:       #000000; 
    SCROLLBAR-TRACK-COLOR:       #FFFFFF; 
    SCROLLBAR-DARKSHADOW-COLOR:  #FFFFFF;
}

td{
	font-family:Tahoma;
	font-size:12px;
	color:#463832;
}

hr{
	border:1px solid #E5E5E5;
	text-align:center;
	width:85%;
}

input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000066;
	border:1px solid #C2C2C2;
}

textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000066;
	border:1px solid #C2C2C2;
}

select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000066;
	border:1px solid #C2C2C2;
}

h3{
	font-family:Tahoma;
	font-size:14px;
	font-weight:bold;
	color:#463832;
	cursor:default;
	width:80%;
	background-color:#FFFFFF;/*#F3F3FF*/
	text-align:center;
	border:1px solid #D8D8D8;
	border-top:none;
	border-left:none;
}

a:link
{
	text-decoration: none;
	color:#E77918;
}

a:visited{
	text-decoration: none;
	color:#E77918;
}

a:hover
{
	text-decoration: underline;
}

/* classes */

.EntryTable              {Border: solid gray 0px; Border-top: none; Background-Color:#FFFFFF ;}
.EntryTable .Label       {font-family:Arial, Helvetica, sans-serif;   Font-Size: 12px; Color: #000000;  Text-Align: Right}
.EntryTable .Data        {font-family:Arial, Helvetica, sans-serif;   Font-Size: 13px}
.ddEntryCombo 
{
font-family:Arial, Helvetica, sans-serif; 
Font-Size:   9px;
Color:       #800000; 
Border:      1px #000000 solid
}



.ddEntryForm 
{
Color:       #000000; 
Border:      1px #CCCCCC solid;
}



.ddEntryFormDisable 
{
Color:            #000000; 
Border:           1px #CCCCCC solid;
Background-Color: #FFCCCC; 
}



.ddEntryText
{
Color:       #000000; 
Border:      1px #CCCCCC solid
}

.ReportTable             {Border: none}
.ReportTable .Header     {font-family:Arial, Helvetica, sans-serif; Font-Size: 10px;  Padding-Left: 1px; Padding-Right: 1px; color: #000000;                    background-color: #BDD5EF; Border: 1px #FFFFFF solid; }
.ReportTable .Data       {font-family:Arial, Helvetica, sans-serif; Font-Size: 10px;  Padding-Left: 2px; Padding-Right: 2px}


.d_aba{
	position:relative;
	color:#868485;
	height:30px;
	width:90%;
}

.d_body{
	position:relative;
	border: 1px solid #D8D8D8;
	background-color:#FFFFFF;
	height:78%;
	width:99%;
	overflow:auto;
}

.d_rodape{
	position:relative;
	border: 0px solid #D8D8D8;
	border-top:none;
	background-color:#FFFFFF;
	width:99%;
	height:35px;
	vertical-align:middle;
	text-align:center;
}

.b_aba_off{
	width:122px;
	height:30px;
	background-image:url(../Images/bt_aba_off.gif);
	background-repeat:no-repeat;
	text-align:center;
	color:#463832;
	font-size:12px;
	font-weight:bold;
}

.b_aba_on{
	width:122px;
	height:30px;
	background-image:url(../Images/bt_aba_on.gif);
	background-repeat:no-repeat;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#E77918;
}

.b_aba_search{
	width:122px;
	height:30px;
	background-image:url(../Images/bt_aba_search.gif);
	background-repeat:no-repeat;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#868485;
}

.dAbaBody{
	position:absolute;
	width:100%;
	height:100%;
	overflow:auto;
	visibility:hidden;
}

.btn_toolbar16{
	cursor:pointer;
	width:16px;
	height:16px;
	vertical-align:middle;
}

.btn_toolbar{
	cursor:pointer;
	width:32px;
	height:32px;
	vertical-align:middle;
}

.iFrame_search{
	width:100%;
	height:99%;
	background-color:#FFFFFF;/*F5F5F5*/
	border:0;
}

.iFrameExplain{
	width:100%;
	height:99%;
	background-color:#FFFFFF;/*F5F5F5*/
	border:0;
}

.tr_body{
	cursor:pointer;
}


.ReportTable .CellExplain{
	color:#E77918;
	font-size:11px;
	cursor:pointer;
	text-decoration:underline;
}

.DivCellExplain{
	position:absolute;
	left:85px;
	top:50%;
	visibility:hidden;
	width:80%;
	height:100px;
	border:1px solid #000000;
}

/* ids */