.body {
	margin-left: 	       0px;
	margin-top: 	       0px;
	margin-right: 	       0px;
	margin-bottom: 	       0px;
}

.BotaoLogin {
	background-image:      url(../Images/Botoes/Login.gif);
	background-repeat:     no-repeat;
	background-position:   center center;
	background-color:      transparent;
	height:                45px;
	width:                 45px;
	border:                0px solid #CCCCCC;
	cursor:                pointer;
}

.BotaoDesbloqueio {
	background-image:      url(../Images/Botoes/Desbloqueio.gif);
	background-repeat:     no-repeat;
	background-position:   center center;
	background-color:      transparent;
	height:                45px;
	width:                 45px;
	border:                0px solid #CCCCCC;
	cursor:                pointer;
}

.BotaoCadastro {
	background-image:      url(../Images/Botoes/Cadastro.gif);
	background-repeat:     no-repeat;
	background-position:   center center;
	background-color:      transparent;
	height:                45px;
	width:                 45px;
	border:                0px solid #CCCCCC;	cursor:                pointer;
}

.BotaoAtendimento {
	background-image:      url(../Images/Botoes/Atendimento.gif);
	background-repeat:     no-repeat;
	background-position:   center center;
	background-color:      transparent;
	height:                45px;
	width:                 45px;
	border:                0px solid #CCCCCC;	
	cursor:                pointer;
}

.BotaoHome {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoPerfil {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoSistemas {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoSenha{
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoContatos {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoCompromissos {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoGrupos1 {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoSomEnviar{
	background-color: 		#FFFFFF;
	background-image: 		url(../Images/Botoes/Sons_02.gif);	background-position: 	center center;
	height: 				30px;
	width: 					30px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoSomEscolher{
	background-color: 		#FFFFFF;
	background-image: 		url(../Images/Botoes/Sons_00.gif);	background-position: 	center center;
	height: 				30px;
	width: 					30px;
	cursor: 				pointer;
border: 				1px solid #CCCCCC;
}

.BotaoSomAD{
	background-color: 		#FFFFFF;
	background-image: 		url(../Images/Botoes/Sons_01.gif);	background-position: 	center center;
	height: 				30px;
	width: 					30px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoStatusConexao {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoRestricoes {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoNoticias {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoReconstituir {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoSkins {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoGrupos {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoTelaCheia {
	background-color: 		#FFFFFF;
	background-image: 		url(../Images/Botoes/Maximizar.gif);
	background-position: 	center center;
	height: 				30px;
	width: 					30px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoTelaNormal {
	background-color: 		#FFFFFF;
	background-image: 		url(../Images/Botoes/Minimizar.gif);
	background-position: 	center center;
	height: 				30px;
	width: 					30px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoClientes {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoMenuAplicacao {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

.BotaoAchar {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Achar.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                29px;
	width:                 29px;
    border:                1 #000000 solid; 
	cursor:                pointer;
	padding-top:           50px;
}



.BotaoAtendimentoFim {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-color:      #FFFFFF;
	background-image:      url(../Images/Botoes/Fim_Atendimento.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	cursor:                pointer;
	border:                none;
}



.BotaoConvidar {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Convidar.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoCancelar {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Stop.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}


.BotaoEmail {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-image:      url(../Images/Botoes/Email.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	cursor:                pointer;
	border:                none;
}

.BotaoEnviar {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Enviar.bmp);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoExcluir {

	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Excluir.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                29px;
	width:                 29px;
    border:                1 #000000 solid; 
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoExecutar {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Executar.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoFind {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Pesquisar.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}


.BotaoFechar {
	font-family: 			Arial, Helvetica, sans-serif;
	font-size: 				1px;
	background-color: 		#FFFFFF;
	background-image: 		url(../Images/Botoes/Sair.gif);	background-position: 	center center;
	height: 				30px;
	width: 					30px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}



.BotaoNovo {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Novo.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoLimpar {

	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Limpar.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                29px;
	width:                 29px;
    border:                1 #000000 solid; 
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoListar {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Lista.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}


.BotaoPesquisar {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Pesquisar.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                29px;
	width:                 29px;
    border:                1 #000000 solid; 
	cursor:                pointer;
	padding-top:           30px;
}

.BotaoProgramas {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Programas.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                29px;
	width:                 29px;
    border:                1 #000000 solid; 
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoPrompt {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Prompt.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                15px;
	width:                 15px;
	border:                none;
	cursor:                pointer;
}


.BotaoRemover {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Remover.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}


.BotaoRefresh {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-image:      url(../Images/Botoes/Refresh.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	cursor:                pointer;
	border:                none;
}

.BotaoSalvar {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Salvar.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                29px;
	width:                 29px;
    border:                1 #000000 solid; 
	padding-top:           50px;
	cursor:                pointer;
}

.BotaoSalvarGrupos {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/SalvarGrupos.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoSend {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/Send.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                40px;
	width:                 40px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}
.BotaoSendOver {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/SendOver.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                40px;
	width:                 40px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
}


.BotaoSetaDireita {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/SetaDireita.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                29px;
	width:                 29px;
    border:                1 #000000 solid; 
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoSetasDireita {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/SetasDireita.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                29px;
	width:                 29px;
    border:                1 #000000 solid; 
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoSetaEsquerda {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/SetaEsquerda.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                29px;
	width:                 29px;
    border:                1 #000000 solid; 
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoSetasEsquerda {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-image:      url(../Images/Botoes/SetasEsquerda.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                29px;
	width:                 29px;
    border:                1 #000000 solid; 
	cursor:                pointer;
	padding-top:           50px;
}

.BotaoSistema {
	background-color:      FFFFFF;
	height:                25px;
	width:                 25px;
	cursor:                pointer;
	border:                1px none #1A3A73;
}


.BotaoUsuarios{
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-image:      url(../Images/Botoes/Usuarios.gif);
	background-position:   center center;
	background-color:      transparent;
	padding-top:           40px;
	height:                25px;
	width:                 25px;
	cursor:                pointer;
	border:                none;
    padding-left:          5;
}

.BotaoUpload{
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-image:      url(../Images/Botoes/Upload.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	cursor:                pointer;
	border:                none;
}

.BotaoVoz{
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-image:      url(../Images/Botoes/Voz.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	cursor:                pointer;
	border:                none;
}

.BotaoVideo{
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-image:      url(../Images/Botoes/VideoConf_02.gif);
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	cursor:                pointer;
	border:                none;
}



.BotaoAvancarRelatorio {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-position:   center center;
	background-color:      transparent;
	height:                20px;
	width:                 20px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
	background-color:      #F2F2F2;
}

.BotaoImpressora {
	background-image:      url(../Images/Botoes/Botao_Printer.gif);
	background-repeat:     no-repeat;
	background-position:   center center;
	background-color:      transparent;
	height:                25px;
	width:                 25px;
	cursor:                pointer;
	border:                1px none #1A3A73;
}

.BotaoNovoRelatorio {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-position:   center center;
	background-color:      transparent;
	height:                20px;
	width:                 17px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
	background-color:      #F2F2F2;
}

.BotaoSetaDireitaRelatorio {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-position:   center center;
	background-color:      transparent;
	height:                20px;
	width:                 20px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
	background-color:      #F2F2F2;
}

.BotaoSetaEsquerdaRelatorio {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-position:   center center;
	background-color:      transparent;
	height:                20px;
	width:                 20px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
	background-color:      #F2F2F2;
}

.BotaoVoltarRelatorio {
	font-family:           Arial, Helvetica, sans-serif;
	font-size:             1px;
	background-attachment: fixed;
	background-position:   center center;
	background-color:      transparent;
	height:                20px;
	width:                 20px;
	border:                none;
	cursor:                pointer;
	padding-top:           50px;
	background-color:      #F2F2F2;
}

.BotaoSistemaAcao {
	background-image:      url(../Images/Botoes/Sistema.gif);
	background-repeat:     no-repeat;
	background-position:   center center;
	background-color:      transparent;
	background-color:      #F2F2F2;
	padding-top:           20px;
	height:                50px;
	width:                 60px;
	cursor:                pointer;
}

.BotaoCliente {                
	cursor:                      pointer;
	background-image:            url(../Images/Botoes/Cliente.gif);
	height:                      50px;
	width:                       50px;
	border:                      0px solid #CCCCCC;
	font-family:                 Verdana, Arial, Helvetica, sans-serif;
	background-color:            transparent;
	font-size:                   1px;
	padding-top:                 60px;
}         
                      
.BotaoMenu {                
	cursor:                      pointer;
	background-image:            url(../Images/Botoes/Menu.gif);
	height:                      50px;
	width:                       50px;
	border:                      0px solid #CCCCCC;
	font-family:                 Arial;
	background-color:            transparent;
	font-size:                   0px;
	padding-top:                 60px;
}                               

.BotaoHelp {
	background-color: 		#FFFFFF;
	background-image: 		url(../Images/Botoes/Ajuda.gif);
	background-position: 	center center;
	height: 				30px;
	width: 					30px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}
.BotaoAgenda {
	background-color: 		#FFFFFF;
	background-image: 		url(../Images/Botoes/Compromissos.gif);
	background-position: 	center center;
	height: 				30px;
	width: 					30px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}
.BotaoSair {
	background-color:		#FFFFFF;
	height: 				25px;
	width: 					25px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}
.BotaoOcultar {
	font-family: 			Arial, Helvetica, sans-serif;
	font-size: 				1px;
	background-color: 		#FFFFFF;
	background-image: 		url(../Images/Botoes/Close.gif);
	background-position: 	center center;
	height: 				15px;
	width: 					15px;
	cursor: 				pointer;
	border: 				1px solid #CCCCCC;
}

