@font-face {
  font-family: "dataflex-reports";
  src:	url("./dataflex-reports.eot");
  src:	url("./dataflex-reports.eot?#iefix") format("embedded-opentype"),
	    url("./dataflex-reports.woff") format("woff"),
	    url("./dataflex-reports.ttf") format("truetype"),
	    url("./dataflex-reports.svg#dataflex-reports") format("svg");
  font-weight: normal;
  font-style: normal;
}
