/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {

    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: #FFF;
    color: #000;
    border: 1px solid black;
}

.jqmOverlay { 
	background-color: #000;
	position: fixed;
	margin-left: 0;
	margin-top: 0;
	top: 0;
	left: 0;  
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.jqDrag {
	cursor: move;
}

.jqmWindow .jqmWindowTitle  {
	font-size: 11px;
	color: #FFF;
	text-align: left;
	text-transform: uppercase;
	background: url(image/bg-jqmwindowtitle.jpg) repeat-x top #0D4D7B;
	font-weight: bold;
	height: 15px;
	padding: 5px;
	

}

.jqmWindow img { border: 0; } 

.jqmWindow .jqmWindowTitle  span { float: left; } 

.jqmWindow .jqmWindowTitle .jqmWindowClose { float: right; width: 16px; height: 16px; background-color: #FFF;  }

.jqmWindow .jqmWindowContent {
	padding: 5px;
	width: 100%;
	line-height: 15px;
	overflow: hidden;
}

.jqmWindow .jqmWindowContent table {
	
	width: 100%;
	
}


.jqmWindow .jqmWindowContent fieldset { 
 	padding: 5px;
	width: 100%;
}


.jqmWindow .jqmWindowContent fieldset label { 

	clear: both;
	text-transform: uppercase;
}



